@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 0) {
      @content;
    }
  }
}

.slides {
  display: grid;
  @include breakpoint(laptop) {
    margin-top: -64px;
  }
  @include breakpoint(mobile) {
    margin-top: 0px;
  }
  overflow: hidden;
  background-color: #000;
  > .slide {
    grid-area: 1/-1;
  }
  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: 0%;
    }
    &:last-child {
      right: 0%;
    }
  }
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(800px);

    &:hover {
      transition: none;
      transform: perspective(800px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}

.slideContent {
  @include breakpoint(mobile) {
    width: 30vw;
    height: 20vw;
  }
  @include breakpoint(tablet) {
    width: 50vw;
    height: 35vw;
  }
  @include breakpoint(laptop) {
    width: 75vw;
    height: 40vw;
  }
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(800px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}
/* Content */
.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  color: #fff;
  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  }

  .slideSubtitle::before {
    content: '— ';
  }

  .slideDescription {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 0.2ch;
  }
}
.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}
